body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(233, 231, 231, 0.801);
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn-blue{background: rgb(54, 54, 235) !important;color:white !important;padding: 8px 20px !important;}
.btn-blue:hover{background: rgb(34, 34, 82) !important;}